@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  display: inline;
}

h1 {
  @apply font-bold text-2xl mt-7 mb-7;
}

h2 {
  @apply font-bold text-xl mt-4 mb-4;
}

h3 {
  @apply font-bold text-lg mt-4 mb-4;
}

h4 {
  @apply font-bold text-base mt-4 mb-4;
}

h5 {
  @apply font-bold text-sm mt-4 mb-4;
}

p {
  @apply leading-loose;
}

p > a {
  @apply text-blue-dark;
}