@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior:smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  display: inline;
}

h1 {
  @apply font-bold text-2xl pt-7 pb-7;
}

h2 {
  @apply font-bold text-xl pt-4 pb-4;
}

h3 {
  @apply font-bold text-lg pt-4 pb-4;
}

h4 {
  @apply font-bold text-base pt-4 pb-4;
}

h5 {
  @apply font-bold text-sm pt-4 pb-4;
}

p {
  @apply leading-loose;
}

p > a {
  @apply text-blue-dark break-words;
}

table {
  @apply mx-auto my-6 border-collapse leading-normal break-normal;
}

th {
  @apply font-bold bg-blue-light text-blue-dark p-2 border border-gray-dark;
}

td {
  @apply p-2 border border-gray-dark;
}

blockquote {
  @apply text-sm mx-auto my-6 border-2 border-r-0 border-b-0 border-t-0 border-blue text-gray-dark py-1 pl-3;
}

article ul {
  @apply list-disc pl-5;
}

article ul > li {
  @apply my-2;
}

article ol {
  @apply list-decimal pl-5;
}

article ol > li {
  @apply my-2;
}

article p {
  @apply whitespace-pre-wrap;
}

/* 共通部品 */

@layer utilities {
  .custom-gradient-orange {
    background: #000;
  }
  .custom-gradient-blue {
    background: linear-gradient(
      45deg,
      hsl(195deg 95% 53%) 0%,
      hsl(199deg 95% 54%) 15%,
      hsl(202deg 95% 54%) 22%,
      hsl(206deg 95% 54%) 28%,
      hsl(210deg 95% 55%) 33%,
      hsl(214deg 94% 55%) 37%,
      hsl(218deg 94% 56%) 42%,
      hsl(221deg 94% 56%) 46%,
      hsl(225deg 94% 57%) 50%,
      hsl(229deg 94% 57%) 54%,
      hsl(233deg 94% 57%) 58%,
      hsl(237deg 94% 58%) 63%,
      hsl(241deg 94% 58%) 67%,
      hsl(244deg 94% 59%) 72%,
      hsl(248deg 93% 59%) 78%,
      hsl(252deg 93% 60%) 85%,
      hsl(256deg 93% 60%) 100%
    );
  }
  .custom-gradient-yellow {
    background: linear-gradient(
      45deg,
      hsl(52deg 100% 62%) 0%,
      hsl(54deg 91% 65%) 19%,
      hsl(58deg 79% 67%) 27%,
      hsl(65deg 75% 70%) 34%,
      hsl(74deg 75% 74%) 41%,
      hsl(86deg 75% 78%) 47%,
      hsl(106deg 75% 82%) 53%,
      hsl(134deg 80% 82%) 59%,
      hsl(153deg 87% 79%) 66%,
      hsl(166deg 93% 74%) 73%,
      hsl(175deg 97% 68%) 81%,
      hsl(180deg 100% 50%) 100%
    );
  }
  .position-gradient {
    position:absolute;
    z-index: -200;
    left:0;
    width: 100%;
    height: 100%;
  }
  .custom-white {
    background-color: #fff;
    position:absolute;
    z-index: -100;
    left:0;
    transition: opacity 1s linear;
    width: 100%;
    height: 100%;
  }
  .inner-white {
    box-shadow: inset 0px 0px 0px 3px #fff, 2px 1px 3px rgb(0 0 0 / 10%);
  }
}